{% extends 'main.html' %}
{% block body %}
<div style="margin-top: 13%;"></div>

<div class="container">
	<div class="card text-center">
		<div class="card-header">
			<h1>SumBot</h1>
				<hr>
				<h4>
						Integrated orders, speed of response
				</h4>
				<br>
		</div>
		<div class="card-body">
			<a href="support" target="_blank">
			<button class="btn btn-outline-primary btn-lg" title="support server"><i class="fas fa-question-circle"></i> Support</button>
			</a>
			&nbsp;
			<a href="invite" target="_blank">
			<button class="btn btn-outline-primary btn-lg" title="invite bot"><i class="fas fa-plus-circle"></i> Invite</button>
			</a>
			&nbsp;
			<a href="vote" target="_blank">
			<button class="btn btn-outline-primary btn-lg" title="vote bot"><i class="fas fa-bullhorn"></i> Vote</button>
			</a>
		</div>
	</div>
</div>

<div style="margin-top: 8%;"></div>


<div class="container">
<div class="row ">
<div class="col-sm-6">
	<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title"><i class="fab fa-discord"></i> +200 Servers</h5>
		<p class="card-text">The bot is present on more than 200 servers currently.</p>
		<a class="btn btn-primary" href="support" target="_blank" title="support server"><i class="fas fa-info-circle"></i> more</a>
	</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title"><i class="far fa-clock"></i> 24\7</h5>
		<p class="card-text">The bot works 24 hours and you don't have to worry about stopping.</p>
		<a class="btn btn-primary" href="support" target="_blank" title="support server"><i class="fas fa-info-circle"></i> more</a>
	</div>
	</div>
</div>

<div style="margin-top: 18%;"></div>

<div class="container">
<div class="row ">
<div class="col-sm-6">
	<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title"><i class="fas fa-star"></i> Complete</h5>
		<p class="card-text">Integrated commands fit all servers, and all members.</p>
		<a class="btn btn-primary" href="support" target="_blank" title="support server"><i class="fas fa-info-circle"></i> more</a>
	</div>
	</div>
</div>

<div class="col-sm-6">
	<div class="card text-center">
	<div class="card-body">
		<h5 class="card-title"><i class="fas fa-tachometer-alt"></i> Speed</h5>
		<p class="card-text">High response speed, and no sudden stop.</p>
		<a class="btn btn-primary" href="support" target="_blank" title="support server"><i class="fas fa-info-circle"></i> more</a>
	</div>
	</div>
</div>

		
{% endblock %}


